@use '../../styles/_variables' as vars;
@use '../../styles/_mixins' as mixins;

.root {
  height: 100%;
  overflow-y: auto;
  width: 100%;

  > div {
    width: 100%;

    height: 100%;
    > div {
      width: 100%;

      height: 100%;
      display: flex;
      flex-direction: column;
      > div {
        width: 100%;
      }
      // buttons bar
      > div:nth-child(1) {
        span {
          font-size: 1.3rem;
        }
        min-height: 62px;
        align-items: center;
        &::-webkit-scrollbar {
          height: 6px;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 0;
        }
      }
      // editor wrapper
      > div:nth-child(2) {
        flex-grow: 1;
        > div:nth-child(1) {
          padding-top: 0;
          > *:nth-child(1) {
            margin-top: vars.$spacing * 2;
          }
        }
        // tooltip bubble menu
        > div:nth-child(8) {
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
