@use '../../styles/_variables' as vars;
@use '../../styles/mixins' as mixins;

.root {
  @include mixins.container;
  @include mixins.flex-col;
  @include mixins.card;
  border: none;
  z-index: 1000001;
  padding-top: vars.$spacing * 2;
  min-width: min(350px, 95%);
  color: var(--text);
  position: fixed;
  top: 20%;

  h1 {
    padding: vars.$spacing * 2;
  }
  input {
    color: var(--text);
    background-color: var(--bg);
    margin: vars.$spacing * 1;
    min-width: 220px;
  }
}

.closeButton {
  position: absolute;
  top: vars.$spacing * 1;
  right: vars.$spacing * 1;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey-med);
  opacity: 0.7;
  z-index: 1000;
}
