@use '../../styles/_variables' as vars;
@use '../../styles/_mixins' as mixins;

.root {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 780px) {
    flex-direction: row;
  }
  height: 100%;
  width: 100%;
}

.dragger {
  cursor: row-resize;

  height: 4px;
  min-height: 4px;
  width: 100%;

  background-color: var(--text-light);
  order: 2;
  @media screen and (min-width: 780px) {
    cursor: col-resize;

    height: 100%;
    width: 4px;
  }
}

.notesListSection {
  padding: vars.$spacing * 2;
  height: 100%;
  min-height: 500px;
  flex-grow: 1;
  order: 3;
  min-width: 300px;
  @media screen and (min-width: 780px) {
    width: 25%;
    order: 1;
  }
}

.editorSection {
  width: 100%;
  min-height: 500px;
  height: 100%;
  order: 1;
  @media screen and (min-width: 780px) {
    min-width: 300px;
    width: 75%;
    order: 3;
  }
}

.note {
  cursor: pointer;
  @include mixins.card;
  position: relative;
  margin-top: vars.$spacing * 2;
  padding-left: vars.$spacing * 1;
  padding-right: vars.$spacing * 1;
  height: vars.$spacing * 20;
  h1 {
    font-size: 24px !important;
    line-height: 1.5 !important;
    margin: 0 !important;
  }

  div {
    // hide the editor's scrollbar
    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.trashButton {
  @include mixins.icon-button;
  margin-left: auto;
  margin-right: vars.$spacing * 1;
}

.newNoteButton {
  @include mixins.icon-button;
  margin-top: vars.$spacing * 2;
  margin-bottom: vars.$spacing * 1;
}

.noteButtonRow {
  z-index: 100;
  @include mixins.flex-row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: vars.$spacing * 1;
}
